@font-face {
    font-family: "Palatino";
    src: url("../assets/palatino.ttf");
}

* {
    transition: all .4s ease-in-out;
}

body {
    background-color: #142E25;
    color: #f2fcf8;
    font-family: Palatino, Georgia, serif;
    transition: all .4s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#top-left {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    opacity: 0.8;
}

#top-right {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 150px;
    transform: rotate(90deg);
    opacity: 0.8;
}

#bottom-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 150px;
    transform: rotate(180deg);
    opacity: 0.8;
}

#bottom-left {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 150px;
    transform: rotate(270deg);
    opacity: 0.8;
}

#silhouttes {
    position: fixed;
    left: 5%;
    top: 10%;
    opacity: 0.6;
    filter: blur(2.3px);
}

#logo {
    height: 33vh;
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 6px;
}

.hero {
    max-width: 60%;
    height: 30vh;
    display: block;
    margin: 0 auto;
    padding: 33px 44px;
    background-image: url("../assets/background-dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-image-source: url('../assets/border.png');
    border-image-slice: 60;
    border-image-repeat: stretch;
    border-width: 6px;
    border-style: solid;
    display: table;
}

.hero:hover {
    cursor: pointer;
    background-image: url("../assets/background.png");
}

.hero p {
    font-size: 1.44em;
    line-height: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 13px;
    transition: all .2s ease-in-out;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    opacity: 0.88;
}

.hero img {
    display: block;
    margin: 0 auto;
    height: 23vh;
    transition: all .2s ease-in-out;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.5));
}

.hero img:hover {
    transform: translate(-50%) scale(1.05);
    cursor: pointer;
}

/* garden */

#grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    padding: 30px;
    height: 100vh;
    box-sizing: border-box;
}

#grid div {
    object-fit: contain;
    border-image-source: url('../assets/border.png');
    border-image-slice: 60;
    border-image-repeat: stretch;
    border-width: 6px;
    border-style: solid;
    text-align: center;
    position: relative;
}

#grid div:hover {
    filter: brightness(.8);
    cursor: pointer;
}

#grid div h2 {
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    opacity: 0;
    color: #F5F5EB;
    filter: brightness(1.5);
    margin-top: 2%;
    position: absolute;
    bottom: 0;
}

#grid div p {
    text-align: left;
    padding: 0 20px;
    display: none;
    visibility: hidden;
}

#bird1 {
    background-image: url("../assets/birds/1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird2 {
    background-image: url("../assets/birds/2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird3 {
    background-image: url("../assets/birds/3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird4 {
    background-image: url("../assets/birds/4.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird5 {
    background-image: url("../assets/birds/5.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird6 {
    background-image: url("../assets/birds/6.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird7 {
    background-image: url("../assets/birds/7.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird8 {
    background-image: url("../assets/birds/8.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird9 {
    background-image: url("../assets/birds/9.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird10 {
    background-image: url("../assets/birds/10.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird11 {
    background-image: url("../assets/birds/11.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird12 {
    background-image: url("../assets/birds/12.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird13 {
    background-image: url("../assets/birds/13.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird14 {
    background-image: url("../assets/birds/14.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bird15 {
    background-image: url("../assets/birds/15.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
    background-color: #142E25;
    color: #f2fcf8;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s 0.5s;
    display: flex;
    align-items: center;
}

#modal-title {
    font-size: 3rem;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#modal.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#modal-bird {
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    border-image-source: url('../assets/border.png');
    border-image-slice: 60;
    border-image-repeat: stretch;
    border-width: 6px;
    border-style: solid;
    max-width: 50%;
    max-height: 50%;
    margin-left: 6vw;
}

#modal-p {
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 1.1em;
    line-height: 1.6;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin-top: -6vh;
}

#return {
    display: block;
    margin: 0 auto;
    height: 23vh;
    transition: all .2s ease-in-out;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.5));
}

#return:hover {
    transform: translate(-50%) scale(1.05);
    cursor: pointer;
}
